html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%
}
body {
  margin: 0
}
header, main {
  display: block
}
[hidden] {
  display: none
}
a {
  background-color: transparent
}
a:active, a:hover {
  outline: 0
}
h1 {
  font-size: 2em;
  margin: .67em 0
}
small {
  font-size: 80%
}
img {
  border: 0
}
@font-face {
  font-family: metropolisblack;
  src: url(./css/fonts/metropolis-black.woff2) format('woff2'), url(./css/fonts/metropolis-black.woff) format('woff');
  font-weight: 400;
  font-style: normal
}
@font-face {
  font-family: metropolisbold;
  src: url(./css/fonts/metropolis-bold.woff2) format('woff2'), url(./css/fonts/metropolis-bold.woff) format('woff');
  font-weight: 400;
  font-style: normal
}
@font-face {
  font-family: metropolismedium;
  src: url(./css/fonts/metropolis-medium.woff2) format('woff2'), url(./css/fonts/metropolis-medium.woff) format('woff');
  font-weight: 400;
  font-style: normal
}
@font-face {
  font-family: metropolisregular;
  src: url(./css/fonts/metropolis-regular.woff2) format('woff2'), url(./css/fonts/metropolis-regular.woff) format('woff');
  font-weight: 400;
  font-style: normal
}
body {
  color: #404040;
  font-family: metropolisregular, sans-serif;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5
}
h1, h2, h3, h4, h5, h6 {
  clear: both;
  color: #000
}
p {
  margin-bottom: 1.5em
}
i {
  font-style: italic
}
.p1 {
  padding: 1.5rem
}
.px1 {
  padding-right: 1.5rem;
  padding-left: 1.5rem
}
.p2 {
  padding: 2rem
}
.px2 {
  padding-right: 2rem;
  padding-left: 2rem
}
.p3 {
  padding: 3rem
}
.px3 {
  padding-right: 3rem;
  padding-left: 3rem
}
.p4 {
  padding: 4rem
}
.px4 {
  padding-right: 4rem;
  padding-left: 4rem
}
html {
  box-sizing: border-box
}
*, :after, :before {
  box-sizing: inherit
}
body {
  background: #fff
}
img {
  height: auto;
  max-width: 100%
}
a {
  color: #4169e1
}
a:visited {
  color: purple
}
a:active, a:focus, a:hover {
  color: #191970
}
a:focus {
  outline: thin dotted
}
a:active, a:hover {
  outline: 0
}
.main-navigation {
  clear: both;
  display: block;
  float: left;
  width: 100%
}
.main-navigation a {
  display: block;
  text-decoration: none
}
#content[tabindex="-1"]:focus {
  outline: 0
}
.site-content:after, .site-content:before, .site-header:after, .site-header:before {
  content: "";
  display: table;
  table-layout: fixed
}
.site-content:after, .site-header:after {
  clear: both
}
.page-content {
  margin: 1.5em 0 0
}
.site-header {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  position: relative
}
.site-title {
  margin-top: 50px;
  margin-left: 30px
}
.site-title a {
  float: left;
  clear: both;
  font-family: metropolisblack, sans-serif;
  font-size: 30px;
  color: #151515;
  text-decoration: none;
  line-height: 28px;
  opacity: 1;
  text-transform: uppercase;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease
}
.site-title a span {
  display: block;
  clear: both;
  margin-left: -30px;
  opacity: 1;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease
}
.site-title a:hover span {
  margin-left: 0;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease
}
.site-title a:hover {
  opacity: .8;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease
}
.main-navigation {
  position: absolute;
  right: 0;
  top: 30px;
  width: 205px;
  z-index: 1000
}
@keyframes loaderAnim {
  to {
    transform: rotate(360deg)
  }
}
.content-wrap {
  position: relative;
  width: 100%;
  z-index: 1
}
.content {
  position: relative
}
.content--layout {
  pointer-events: auto;
  justify-content: center;
  align-content: center;
  grid-template-columns: 150px 150px 150px 150px;
  grid-template-rows: 150px 75px 75px;
  grid-template-areas: "... title text ..."
}
.content__text, .content__title {
  transition: transform .3s ease-out
}
.site-content {
  margin-left: auto;
  margin-right: auto;
  position: relative
}
.site-content-small {
  max-width: 612px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  color: #151515;
  font-family: metropolisregular, sans-serif;
  font-size: 21px;
  line-height: 30px
}
.content--layout-1 {
  padding-bottom: 100px;
  margin-bottom: 100px
}
.content--layout-2 {
  padding-bottom: 120px;
  margin-bottom: 70px
}
.content--layout .content__img1, .content--layout .content__img2, .content--layout .content__img3 {
  position: absolute;
  float: left;
  z-index: -1
}
.content--layout-1 .content__img1 {
  width: 158px;
  height: 334px;
  top: 227px;
  left: -68px
}
.content--layout-1 .content__img2 {
  width: 100%;
  height: 63px;
  bottom: -100px;
  text-align: center
}
.content--layout-1 .content__img2 img {
  width: 22px;
  height: 63px
}
.content--layout-2 .content__img1 {
  width: 350px;
  height: 486px;
  top: 60px;
  left: -390px
}
.content--layout-2 .content__img2 {
  width: 386px;
  height: 303px;
  bottom: 0;
  right: -400px
}
.content--layout-3 .content__img1 {
  width: 359px;
  height: 382px;
  top: 278px;
  left: -400px
}
.content--layout-3 .content__img2 {
  width: 143px;
  height: 289px;
  top: 455px;
  left: -230px;
  z-index: -2
}
.content--layout-4 .content__img1 {
  width: 446px;
  height: 676px;
  top: 130px;
  left: -420px;
  z-index: -2
}
.content--layout-4 .content__img2 {
  width: 194px;
  height: 196px;
  top: 375px;
  left: -165px
}
.content--layout-5 .content__img2 {
  width: 350px;
  height: 486px;
  top: 100px;
  right: -400px
}
.content--layout-5 .content__img1 {
  width: 557px;
  height: 532px;
  top: 905px;
  left: -630px
}
.content--layout-5 .content__img3 {
  width: 237px;
  height: 264px;
  top: 980px;
  left: -357px;
  z-index: -2
}
.content--layout-6 .content__img1 {
  width: 399px;
  height: 448px;
  top: -189px;
  right: -450px
}
.content--layout-6 .content__img2 {
  width: 237px;
  height: 264px;
  top: 138px;
  left: -370px
}
.content--layout-7 .content__img1 {
  width: 362px;
  height: 343px;
  top: 122px;
  right: -450px
}
.content--layout-8 .content__img1 {
  width: 398px;
  height: 387px;
  bottom: -426px;
  left: -193px
}
.content--layout-1 .content__title {
  font-family: metropolisblack, sans-serif;
  color: #151515;
  font-size: 60px;
  line-height: 57px;
  text-transform: uppercase;
  letter-spacing: 20px
}
.content--layout-2 .content__title {
  font-family: metropolisblack, sans-serif;
  color: #151515;
  font-size: 48px;
  line-height: 50px;
  text-transform: uppercase;
  letter-spacing: 15px
}
.content--layout-3 .content__title, .content--layout-4 .content__title, .content--layout-5 .content__title, .content--layout-6 .content__title, .content--layout-7 .content__title {
  width: 205px;
  font-family: metropolisblack, sans-serif;
  color: #151515;
  font-size: 48px;
  line-height: 50px;
  text-transform: uppercase;
  letter-spacing: 15px
}
.content--layout-5 .content__title {
  padding-top: 180px;
  letter-spacing: 20px
}
.content--layout-4 .content__header {
  font-family: metropolismedium, sans-serif;
  color: #151515;
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-top: 70px;
  margin-bottom: 50px
}
.content--layout-1 .content__text, .content--layout-2 .content__text {
  color: #151515;
  font-family: metropolisregular, sans-serif;
  font-size: 21px;
  line-height: 30px
}
.content--layout-5 .content__text {
  margin: 0;
  padding-left: 0
}
.content--layout-6 {
  padding-top: 134px
}
.site-content {
  overflow: hidden
}
.content--layout-6 .content__title {
  margin-bottom: 100px
}
.content--layout-6 .content__text {
  font-size: 18px
}
.content__text {
  padding-left: 112px
}
.content--layout-6 h3 {
  margin-bottom: 0;
  color: #151515;
  font-family: metropolisregular, sans-serif;
  font-size: 14px;
  letter-spacing: 2px;
  padding: 0;
  margin-top: 0;
  font-weight: 400
}
.content--layout-6 h4 {
  margin-top: 0;
  margin-bottom: 65px;
  color: #151515;
  font-family: metropolismedium, sans-serif;
  font-size: 30px;
  padding: 0;
  font-weight: 400;
  line-height: 35px
}
.content--layout-6 a {
  margin-top: 0;
  margin-bottom: 65px;
  color: #151515;
  font-family: metropolismedium, sans-serif;
  font-size: 30px;
  padding: 0;
  font-weight: 400;
  line-height: 35px;
  border-bottom: 1px solid #a6a6a6
}
.content--layout-6 p {
  margin: 0
}
.content--layout-6 {
  color: #151515;
  font-family: metropolisregular, sans-serif;
  font-size: 18px
}
.content--layout-6 a {
  margin-top: 0;
  margin-bottom: 65px;
  color: #151515;
  display: inline-block;
  font-family: metropolismedium, sans-serif;
  font-size: 30px;
  padding: 0;
  font-weight: 400;
  line-height: 35px;
  border-bottom: 1px solid #a6a6a6;
  text-decoration: none
}
.content--layout-7 {
  padding-top: 180px;
  padding-bottom: 100px
}
.content--layout-7 .content__title {
  float: left;
  width: 285px;
  margin-left: -22px;
  margin-top: 70px;
  clear: none
}
.content--layout-7 .content__text {
  margin-top: 20px
}
.info-bg {
  position: fixed;
  overflow: scroll;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 9000;
  display: none
}
@media (max-width:1340px) {
  .site-header {
    padding-left: 10px;
    padding-right: 10px
  }
  .main-navigation {
    right: 60px
  }
}
@media (max-width:1180px) {
  .main-navigation {
    top: 20px;
    right: 10px
  }
}
@media (max-width:940px) {
  .content--layout-1 .content__title {
    font-size: 50px;
    letter-spacing: 10px;
    line-height: 52px;
    margin-top: 120px
  }
  .content--layout-1 .content__text, .content--layout-2 .content__text {
    font-size: 18px;
    line-height: 25px
  }
  .content--layout-2 .content__title, .content--layout-3 .content__title, .content--layout-4 .content__title, .content--layout-5 .content__title, .content--layout-6 .content__title, .content--layout-7 .content__title {
    font-size: 40px;
    letter-spacing: 10px;
    line-height: 40px
  }
  .site-content-small {
    font-size: 18px;
    line-height: 28px
  }
}
@media (max-width:850px) {
  .content--layout-2 .content__title, .content--layout-3 .content__title, .content--layout-4 .content__title, .content--layout-5 .content__title, .content--layout-6 .content__title, .content--layout-7 .content__title {
    margin-top: 0
  }
  .content--layout-1 .content__img2 {
    bottom: -140px
  }
  .content--layout-2 {
    margin-bottom: 20px;
    padding-bottom: 80px
  }
  .content--layout-5 .content__title {
    padding-top: 120px
  }
  .site-content {
    padding-left: 20px;
    padding-right: 20px
  }
}
@media (max-width:650px) {
  .content--layout-7 .content__title {
    margin-left: 0;
    margin-top: 40px
  }
}
@media (max-width:500px) {
  .content--layout-1 .content__title {
    font-size: 30px;
    letter-spacing: 5px;
    line-height: 32px;
    margin-top: 160px
  }
  .content--layout-1 .content__text, .content--layout-2 .content__text {
    font-size: 16px;
    line-height: 22px
  }
  .content--layout-2 .content__title, .content--layout-3 .content__title, .content--layout-4 .content__title, .content--layout-5 .content__title, .content--layout-6 .content__title, .content--layout-7 .content__title {
    font-size: 26px;
    letter-spacing: 5px;
    line-height: 30px
  }
  .site-content-small {
    font-size: 16px;
    line-height: 28px
  }
  .content--layout .content__img1, .content--layout .content__img2, .content--layout .content__img3 {
    display: none
  }
  .content--layout.content--layout-1 .content__img2 {
    display: block
  }
  .content__text {
    padding-left: 20px
  }
}
@media screen and (max-height:600px) {
  .main-navigation {
    right: 10px
  }
}